<link rel="stylesheet" href="/css/addEditProduto.css">
<title>Editar produto</title>
<%- include('../partials/header') %>

  <body>
    <section>
      <div class="container">

        <h1>Editar produto</h1>

        <div class="cadastro">

          <form method="POST" action="/adm/editar-produto/<%= produto.id %>?_method=PUT" enctype="multipart/form-data">

            <input type="text" name="nome" id="" value="<%= produto.nome %>" placeholder="Nome do Produto">

            <input type="number" name="preco" min="1" step="any" value="<%= produto.preco %>" placeholder="Preço">

            <input type="number" name="estoque" min="1" step="any" value="<%= produto.estoque %>" placeholder="Estoque">

            <select name="categoria" id="categoria" value="<%= categorias.id %>" placeholder="Categorias">

              <option value="" disabled>Selecione uma categoria</option>

              <% categorias.forEach(categoria=> { %>
                <option selected=<%=produto.categorias_id %> value="<%= categoria.id %>"><%= categoria.name %>
                      <% }) %>
                </option>

            </select>

            <label for="imagem">Adicionar foto</label>

            <input type="file" name="imagem" id="imagem" value="<%= produto.imagem %>">

            <img id="preview" src="">

            <div class="ativo">

              <input type="checkbox" name="ativo" id="ativo" value="<%= produto.ativo %>" <% if (produto.ativo=="on" ) {
                %>
              checked
              <% } %> placeholder="Produto ativo">

                <label for="ativo">Ativo</label>

                <input type="checkbox" name="destaques" id="destaques" <% if (produto.destaques=="on" ) { %>
                checked
                <% } %> placeholder="Produto destaque">
                  <label for="">Destaque</label>
            </div>
            <textarea name="descricao" cols="30" rows="10"> <%= produto.descricao %> </textarea>
            <div class="buttons">
              <button type="submit">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>


    </section>
    <!-- início do preloader -->
    <div id="preloader">
      <div class="inner">
        <!-- HTML DA ANIMAÇÃO MUITO LOUCA DO SEU PRELOADER! -->
        <div>
          <div><img width="100px" src="/images/logo-gif_4_semFundo.gif" alt="" srcset=""></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <!-- fim do preloader -->

    <script src="/javascript/preloader.js"></script>
    <script src="/javascript/previewImagem.js"></script>

  </body>

  </html>