<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="css/carrinho.css" />
  </head>
  <body>
    <title>Carrinho</title>
    <%- include('../partials/header') %>
    <main>
        <h1>Carrinho de Muambas</h1>
        <section class='container'>
          <% if (!carrinho.length) { %>
            <h3 class="vazio">Carrinho de muambas vazio!</h3>
            <% } else {carrinho.forEach(produto => { %>
              <div class="wrapper">
              <div class="produto-selecionado">
              <img 
              src="<%= produto.imagem %>" 
              alt="<%= produto.nome %>" 
              width="150px"
              height="150px">
            <div class="descricao-produto">
              <h2><%= produto.nome %></h2>
              <div class="qtd-del">
              <label for="quantidade">QTD</label>
              <input type="number">
              <form action="/carrinho/<%=produto.id%>/remover?_method=DELETE"
                method="POST">
                <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
              </form>
            </div>
            </div>
            </div>
            <div class="preco">
              <h2><%= produto.preco %></h2>
            </div>
          </div>
          <% }) %> <% } %>
        <div class="subtotal">
          <p>Subtotal: <b> R$<%=total.toFixed(2)%></b></p>
          <p>à vista</p>
          <p>ou em até <b>12x de <%= (total/12).toFixed(2) %></b> sem juros</p>
        </div>
        <div class="calcule-frete">
          <p>Calcule o frete</p>
          <form action="">
            <input
              type="text"
              name="cep"
              id="cep"
              placeholder="Digite seu CEP"
            />
            <button type="submit">Calcular</button>
          </form>
        </div>
      </section>
      <section class="pagamento">
        <h2>Forma de Pagamento</h2>
        <div class="container">
          <h3>Escolha sua forma de pagamento</h3>
          <form action="/carrinho/finalizacao" method="POST">
            <div class="formas-pgto">
              <i class="fa-brands fa-pix"></i>
              <input type="radio" name="pagamento" value="Pix" />
              <label for="pix">PIX</label>
            </div>
            <div class="formas-pgto">
              <i class="fa-solid fa-wallet"></i>
              <input type="radio" name="pagamento" value="Boleto" />
              <label for="boleto">Boleto</label>
            </div>
            <div class="formas-pgto">
              <i class="fa-solid fa-credit-card"></i>
              <input type="radio" name="pagamento" value="Cartão" />
              <label for="cartao">Cartão</label>
            </div>
            <div class="formas-pgto">
              <i class="fa-solid fa-money-bill-transfer"></i>
              <input type="radio" name="pagamento" value="Picpay" />
              <label for="picpay">PicPay</label>
            </div>
          
        </div>
      </section>
      <section class="entrega">
        <h2>Entrega</h2>
        <div class="container">
          
          <div class="forma-entrega">
            <i class="fa-solid fa-truck"></i>
            <input type="radio" name="entrega" value="Normal" />
            <label for="normal">Normal</label>
          </div>
          <div class="forma-entrega">
            <i class="fa-solid fa-truck-fast"></i>
            <input type="radio" name="entrega" value="Expressa" />
            <label for="expressa">Expressa</label>
          
          </div>
        </div>
      </section>
      <section class="finalizacao">
        <div class="container">
          <div class="finalizar-compra">
                <input type="hidden" name="total" value="<%= total.toFixed(2) %>">
                <button type="submit">Finalizar Compra</button>
              </form>
          </div>
        </div>
      </section>
      <section class="produtos-relacionados">
        <div>
          <h2>Produtos Relacionados</h2>
        </div>
        <div class="relacionados-img">
          <div class="card">
            <img src="images/notebook.jpg" alt="Notebook" />
            <button id="#">Ver Mais</button>
          </div>

          <div class="card">
            <img src="images/GAMER.png" alt="" />
            <button id="#">Ver Mais</button>
          </div>

          <div class="card">
            <img src="images/CELULAR-SMARTPHONE_1645045581.png" alt="" />
            <button id="#">Ver Mais</button>
          </div>
        </div>
      </section>
    </main>
  </body>
  <%- include('../partials/footer') %> 
</html>
