<link rel="stylesheet" href="/css/stylehome.css">
<title>Muambas.net</title>
<%- include('../partials/header') %>

    <!-- Sessão de produtos -->

    <main class="container">

        <section class="destaques card-lista">

            <% produtos.forEach(produto=>{ %>
                <div class="card ">
                    <a class="" href="/produtos/<%=produto.id %>">
                        <img src="/images/produtos/<%=produto.imagem%>" width="150" height="130" alt=""></img>
                        <p>
                                <%= `${produto.nome.substring(0, 20)}...` %>
                        </p>  
                        <p>
                            R$ <%=produto.preco.toFixed(2)%>
                        </p>
                        <span>À vista no pix</span>
                        <div>
                            <div>
                                <form class="form-button" action="/carrinho/adicionar" method="POST">
                                    <input type="hidden" name="id" value="<%= produto.id %>" />
                                    <input type="hidden" name="nome" value="<%= produto.nome %>" />
                                    <input type="hidden" name="preco" value="<%= produto.preco %>" />
                                    <input type="hidden" name="imagem" value="<%= produto.imagem %>" />
                                    <button type="submit" name="btn2">Compre agora</button>

                                </form>
                    </a>
                            </div>
                         </div>
                </div>

                <% }) %>
        </section>