<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedido Concluído</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/pedidoConcluido.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1>Resumo do Pedido <%=pedido.id%></h1>
      <section class="container">
        <div class="wrapper">
        
               <% pedido.produtos.forEach(produto => { %>
                <div class="produto-selecionado">
                  <a href="/produtos/<%=produto.id %>"><img 
                  src="/images/produtos/<%=produto.imagem%>"
                  alt="<%= produto.nome %>" 
                  width="150px"
                  height="150px"></a>
                <div class="descricao-produto">
                  <h2><%= produto.nome %></h2>
                </div>
                <div class="preco">
                  <p>R$ <%= produto.preco.toFixed(2) %></p>
                </div>

              </div>

              <% }) %>
              <div class="subtotal">
                <p>Subtotal: <b>R$ <%=pedido.total%></b></p>
                <p>Modo de pagamento: <b><%=pedido.pagamento%></b></p>
                <p>Forma de entrega: <b><%=pedido.entrega%></b></p>
              </div>


        </div>
      </section>
    </main>
  </body>
<%- include('../partials/footer') %> 