<link rel="stylesheet" href="/css/painelUsuario.css">

<title>Bem vindo, Usuário</title>
<%- include('../partials/header') %> 

<main>
  <h1>Clique no número para obter detalhes do pedido</h1>
  <!-- <h1>Acompanhe seu pedido</h1>
  <section class="codigo">
    <h2>Código do pedido</h2>
    <form action="/detalhesPedido/" method='GET' class="form_search">
      <input type="search" name="search" id="search" placeholder="Pesquisar">
      <button name="btn-1" id="btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </section> -->
  <section class="historico">
    <h2>Histórico de Pedidos</h2>
    <div class="container">
      <div class="tabela">
        <table width="96%" cellspacing="10">
          <thead>
            <tr>
              <th class="col">Número</th>
              <th class="col">Pagamento</th>
              <th class="col">Entrega</th>
            </tr>
          </thead>
          <tbody>
            <% pedidos.forEach(pedido => { %> 
              <tr>
                <th><a href='/detalhesPedido/<%= pedido.id %>'><%= pedido.id %></a></th>
                <td><%= pedido.pagamento %></td>
                <td><%= pedido.entrega %></td>
              </tr>
              <% }) %> 
            </form>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
    </main>
    <%- include('../partials/footer') %> 
    
    