<link rel="stylesheet" href="/css/painelUsuario.css">

<title>Bem vindo, Usuário</title>
<%- include('../partials/header') %> 

<main>
  
  <h1>Acompanhe seu pedido</h1>
  <section class="codigo">
    <h2>Código do pedido</h2>
    <form action="/painelUsuario" method='POST' class="form_search">
      <input type="search" name="searchOrder" id="search" placeholder="Pesquisar">
      <button name="btn-1" id="btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </section>
    <section class="forma-pgto">
      <% if (pedidos.id) { %> 
        <h4>Produtos do pedido n. <%= pedidos.id %></h4>
        <div class='container'>
    <div class="wrapper">
      <% pedidos.produtos.forEach(produto => { %>
        <div class="produto-selecionado">
          <img src="<%= produto.imagem %>" alt="Notebook Asus">
          <div class="descricao-produto">
            <h2><%= produto.nome %></h2>
          </div>
        </div>
        <div class="preco">
          <h2><%= produto.preco %></h2>
        </div>
      </div>
      <% }) %>
      <div class="subtotal">
        <p>Subtotal: <b> <%= pedidos.total %> </b> </p>
      </div>
    </div>
  </div>
  <% } else { %>
    <h4>Pesquise para obter detalhes do pedido</h4>
    <% } %> 
  </section>
  <section class="historico">
    <h2>Histórico de Pedidos</h2>
    <div class="container">
      <div class="tabela">
        <table width="96%" cellspacing="10">
          <thead>
            <tr>
              <th class="col">Número</th>
              <th class="col">Pagamento</th>
              <th class="col">Entrega</th>
            </tr>
          </thead>
          <tbody>
            <% pedidos.forEach(pedido => { %> 
              <tr>
                <th><%= pedido.id %></th>
                <td><%= pedido.pagamento %></td>
                <td><%= pedido.entrega %></td>
              </tr>
              <% }) %> 
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
    </main>
    
    